/*-----------------
ESTILOS ESPECÍFICOS
-----------------*/

#start .logo
{
    max-width: 300px;
    margin: auto;
}

#start .description
{
    position: relative;
    top: 30vh;
    animation: blink 3s infinite;
}

@keyframes blink {
    0%
    {
        opacity: 1;
    }
    10%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 1;
    }
}


/* FORMULARIO */

#form
{
    position: relative;
    padding: 5vh 5vw;
}

.field
{
    margin: 20px 0;
}

.field *
{
    font-size: 18px;
}

.field label
{
    display: block;
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: 500;
}

.field input, .field select
{
    display: block;
    width: 100%;
    padding: 10px 4px;
    border: none;
    border-radius: 4px;
}


.field-radio input, .field-radio .radio-label
{
    display: inline;
    width: fit-content;
}

.field-button
{
    margin-top: 60px;   
}
#form-button
{
    font-weight: 600;
    color: #fff;
    background-color: #C50A74;
    padding: 2vh 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
